/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*****---------------------------------------- 1) font-family: 'Lato', sans-serif;
 ----------------------------------------*****/

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/




/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #000000;
    font-family: Roboto;
    background-color: #ffffff;
    padding: 20px;
}

/*-- links --*/
a {
    
}

/*-- headers --*/
h1,
h2,
h3,
h4,
h5,
h6 {
    
}

h1 {
    font-size: 30px
}

h2 {
    font-size: 24px
}

h3 {
    font-size: 20px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 16px
}

h6 {
    font-size: 15px
}

/*-- links inside headers --*/
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #4c4c4b;
    text-decoration: none!important;
    opacity: 1
}

/*-- unordered lists, ordered lists, list items --*/
ul, 
ol,
li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/*-- paragraph --*/
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/*-- links --*/
a {
    color: #4c7031;
    text-decoration: none;
    outline: none !important;
}

/*-- links that are buttons --*/
a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/*-- images --*/
img {
    max-width: 100%;
    height: auto;
}

/*-- what happens when an elements gets focus (when the user clicks or taps on an element or selects it with the keyboard's Tab key.) --*/
:focus {
    outline: 0;
}

/*-- contact form inputs --*/
label {
    font-size: 12px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 10px;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

input[type=submit]:hover {
  background-color: #45a049;
}


/*--------------------------------------------------------------------- SECTION STYLES ---------------------------------------------------------------------*/

/* header section start */

.header_section {
    width: 100%;
    float: left;
    text-align: center;
    background-color: #ffffff;
    height: auto;
    background-size: 100%;
}

/* header section end */

/* intro section start */

.intro_section {
    display: grid;
    place-items: center;
    grid-template-areas:
	"image_bio text_bio";
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 40px 20px;
}

.intro-bio_imgcolumn {
    grid-area: image_bio;
}

.intro-bio_textcolumn {
    grid-area: text_bio;
    padding: 10px;
}

.intro_img {
    margin: auto;
    align-items: center;
    max-width: 900px;
    min-width: 400px; 
}

/* intro section end */


/* footer section start */

.footer_section {
    display: grid;
    place-items: top;
    grid-template-areas:
	"contact_form useful_info";
    grid-template-columns: 2fr 1fr;
    gap: 80px;
    width: 100%;
    background-color: #fffff2;
    height: auto;
    padding: 40px 20px;
}

.footer_menu {
    grid-area: site_map;
}

.footer_contact {
    grid-area: contact_form;
    width: 100%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.footer_useful-info {
    grid-area: useful_info;
    font-size: 14px;
}

.footer_text {
    width: 100%;
    float: left;
    font-size: 14px;
}

.footer_text ul {
    margin: 0px;
    padding: 0px;
}

.padding_left_10 {
    padding-left: 10px;
}

/* footer section end */


/*-- responsive styles for different devices and screen sizes --*/
/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
