/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*****---------------------------------------- 1) font-family: 'Lato', sans-serif;
 ----------------------------------------*****/

/* <weight>: Use a value from 100 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/



/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #000000;
    font-size: 14px;
    font-family: Roboto;
    background-color: #ffffff;
    padding: 20px;
}

/*-- links --*/
a {
    
}

/*-- headers --*/
h1,
h2,
h3,
h4,
h5,
h6 {
    
}

h1 {
    font-size: 30px
}

h2 {
    font-size: 24px
}

h3 {
    font-size: 20px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 16px
}

h6 {
    font-size: 15px
}

/*-- links inside headers --*/
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #4c4c4b;
    text-decoration: none!important;
    opacity: 1
}

/*-- unordered lists, ordered lists, list items --*/
ul, 
ol,
li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/*-- paragraph --*/
p {
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

/*-- links --*/
a {
    color: #4c7031;
    text-decoration: none;
    outline: none !important;
}

/*-- links that are buttons --*/
a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/*-- images --*/
img {
    max-width: 100%;
    height: auto;
}

/*-- what happens when an elements gets focus (when the user clicks or taps on an element or selects it with the keyboard's Tab key.) --*/
:focus {
    outline: 0;
}


/* header section start */

.header_section {
    width: 100%;
    float: left;
    text-align: center;
    background-color: #ffffff;
    height: auto;
    background-size: 100%;
}

/* header section end */

/* intro section start */

.intro_section {
    display: grid;
    place-items: center;
    grid-template-areas:
	"image_bio text_bio";
    grid-template-columns: 1fr 2fr;
    gap: 3px;
    padding: 40px 20px;
}

.intro-bio_imgcolumn {
    grid-area: image_bio;
}

.intro-bio_textcolumn {
    grid-area: text_bio;
    padding: 25px;
}

.intro_img {
    margin: auto;
    align-items: center;
    max-width: 900px;
    min-width: 300px; 
}

/* intro section end */


/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    background-color: #4c7031;
    height: auto;
    padding: 95px 0px;
}

.useful_text {
    width: 100%;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer_text {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
}

.footer_menu {
    width: 100%;
    float: left;
}

.footer_menu ul {
    margin: 0px;
    padding: 0px;
}

.footer_menu li {
    font-size: 14px;
    color: #ffffff;
}

.footer_menu li a {
    color: #ffffff;
}

.footer_menu li a:hover {
    color:  #f2ae1c;
}

.dummy_text {
    width: 30%;
    float: left;
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
}

.location_text {
    width: 100%;
    float: left;
}

.location_text ul {
    margin: 0px;
    padding: 0px;
}

.location_text li {
    font-size: 14px;
    color: #ffffff;
    padding: 0px 0px 5px 0px;
}

.location_text li a {
    color: #ffffff;
}

.location_text li a:hover {
    color:  #f2ae1c;
}

.padding_left_10 {
    padding-left: 10px;
}


/* footer section end */

/* copyright section start */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #fff4e8;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #252525;
    text-align: center;
    margin-left: 0px;
}

.copyright_text a {
    color: #252525;
}

.copyright_text a:hover {
    color:  #f2ae1c;
}


/* copyright section end */

.margin_top90 {
    margin-top: 90px;
}
